@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  @apply text-center text-4xl mb-4
}

p {
  @apply text-center text-base mb-4
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .standard-button {
    @apply text-2xl justify-center items-center mx-auto block border-4 rounded-xl w-60 h-24 my-24 flex
    transition hover:text-itext hover:bg-accent
  }
  .standard-panel {
    @apply bg-secondary m-8 p-4 rounded-lg
  }
}
